.search {
    height: 30px;
    &_margins {
      margin-top: 8px;
      margin-bottom: 8px;
      }
    &__field {
        border: none;
        padding-left: 4px;
        padding-right: 4px;
        vertical-align: top;
        height: inherit;
        width: 216px;
        color: $gray_color;
        outline: none;
        transition-duration: 300ms;
        &:focus {
            background: lighten($green_color, 50%);
        }
    }
    &__btn {
        padding-left: 4px;
        padding-right: 4px;
        background-color: white;
        color: $green_color;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        border: none;
        border-left: 1px solid $gray_color;
        height: inherit;
        &:hover {
            transition-duration: 300ms;
            cursor: pointer;
            background: $blue_color;
            color: white;
        }
        &:active {
            outline: none;
        }
    }
}