.latest-works {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}
  
.works__pict {
  padding: 4px;
  box-shadow: 0 0 1px #e6e6e6;

}

.works__title {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 12px;
  color: #444;
  font-size: 14px;
  font-weight: 400;
}

.works__desc {
    font-size: 13px;
    font-weight: 400;
    color: #888;
}

.more_right {
  margin-top: 12px;
  margin-bottom: 0;
  text-align: right;
  color: $green_color;
  font-size: 13px;
  font-weight: 400;
}
