/* blocks elements and containers */
address,
article,
aside,
blockquote,
dd,
div,
dl,
dt,
details,
fieldset,
figcaption,
figure,
footer,
form,
h1, h2, h3, h4, h5, h6,
header,
hr,
li,
legend,
nav,
noscript,
ol,
output,
optgroup,
option,
p,
pre,
section,
summary,
table,
ul {
  outline: 1px dotted blue;
}

/* inline elements and containers */
a,
area,
b,
bdo,
bdi,
cite,
code,
dfn,
del,
em,
i,
iframe,
img,
ins,
kbd,
label,
map,
mark,
s,
samp,
small,
span,
strong,
sub,
sup,
time,
q,
ruby,
u,
var {
  outline: 1px dotted green;
}

/* inline-blocks elements and containers */
audio,
button,
canvas,
embed,
input,
keygen,
meter,
object,
progress,
select,
textarea,
video {
  outline: 1px dotted red;
}

