@import "../bootstrap-4.4.1/scss/mymin.scss";
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "design-mode";

html, body {
    min-height: 100%;
    min-width: 334px;
}

body {
    background-color: #1f1f1f;
    color: $bg_color;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    display: inline-block;
    list-style-type: none;
}

li {
    display: inline-block;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

header,
nav,
.slider,
main,
.footer-tab,
.copyright {
    max-width: 960px;
    padding: 0 30px;
    width: 100%;
    height: 100%;
}

main,
.footer-tab,
.copyright {
    padding: 0 22px;
}

.service__col,
.works__col,
.footer__col,
.copyright__p {
  padding-left: 8px;
  padding-right: 8px;
}
  
header {
    margin: 30px auto 0;
    border-top: 5px solid $green_color;
    background-color: white;
}

nav,
.slider,
main,
.footer-tab,
.copyright {
    margin: 0 auto;
    justify-content: space-between;
}

nav {
    background-color: $green_color;
}

main {
  background-color: white;
}

@import "./blocks/row";
@import "./blocks/logo";
@import "./blocks/social";
@import "./blocks/motto";
@import "./blocks/user-menu";
@import "./blocks/main-menu";
@import "./blocks/search";
@import "./blocks/slider";
@import "./blocks/service";
@import "./blocks/latest-works";
@import "./blocks/footer";
@import "./blocks/copyright";


.service,
.latest-works {
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
