* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Only for design stage --- */
/* h1, h2, h3, div, ul, ol, li, p, section, figure, figcaption, article, video, q { */
    /* outline: 1px dotted blue; */
/* } */
/* --- +++ --- */

html,
body {
    min-height: 100%;
}

body {
    background-color: #aaa;
}

body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.container {
    margin: 0 auto;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .container {
        padding: 0;
    }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 60px;
    font-weight: 400;
    line-height: 48px;
}

@media (max-width: 479px) {
    h1 {
      font-size: 46px;
    }
}

h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    color: #445162;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #445162;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

main,
section,
#contacts {
    position: relative;
    width: 100%;
    padding: 50px;
    background-color: white;
    overflow: hidden;
}

@media all and (min-width: 0) and (max-width: 767px) {
    main,
    section,
    #contacts {
        padding: 16px;
    }
}

section#header,
#contacts {
    background-color: #445162;
    color: white;
}

section#pluses,
section#reviews,
#copyright {
    background-color: #f5f5f5;
}

/* --- +++ --- */
#product-img {
    width: 100%;
}

#header ul {
    list-style-type: none;
    margin-top: 16px;
}

#header ul li {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.fa-check {
    margin-right: 8px;
}

/* --- +++ --- */
main h2 {
    margin-bottom: 30px;
}

main p {
    margin-top: 16px;
    margin-bottom: 16px;
}

#videotest {
    width: 100%;
    object-fit: fill;
}

/* --- +++ --- */
#pluses ul {
    list-style-type: none;
    margin-top: 10px;
}

.fa-plus-square {
    margin-top: 2px;
    color: #445162;
}

#pluses ul li {
    margin-top: 16px;
    display: inline-block;
    float: left;
    overflow-y: hidden;
}

#pluses ul li i,
#pluses ul li p {
    float: left;
}
#pluses ul li p {
    margin-left: 10px;
    margin-bottom: 0;
    width: calc(100% - 38px); /* plus:28px + margin:10px */
}
/* --- +++ --- */
#screenshots ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 0;
}

#screenshots ul li {
    margin-top: 16px;
    display: inline-block;
    float: left;
}

#screenshots ul li article img {
    float: left;
    margin-right: 16px;
}

#screenshots ul li article img:hover {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}

.screen-description {
    width: 100%;
}

.screen-description p {
    margin-top: 16px;
    margin-bottom: 0;
    word-break: break-all;
}

@media (max-width: 479px) {
    #screenshots ul li article img {
        float: none;
        margin-left: calc(50% - 100px);
        margin-bottom: 16px;
   }
    
    .screen-description h3 {
        text-align: center;
    }
}

/* --- +++ --- */
#reviews ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 0;
}

#reviews ul li {
    display: inline-block;
    float: left;
    margin-top: 16px;
}

#reviews ul li:nth-child(even) {
    float: right;
}

#reviews ul li img,
#reviews ul li article {
    display: inline-block;
    float: left;
}

#reviews ul li img {
    border-radius: 50%;
    box-shadow: 0 0 0 1px #ccc;
    -webkit-filter: sepia(0.2);
    filter: sepia(0.2);
}

#reviews ul li img:hover {
    -webkit-filter: none;
    filter: none;
    box-shadow: 0 0 0 2px #bbb;
}

#reviews ul li article {
    position: relative;
    margin-left: 24px;
    width: calc(100% - 100px);
    padding: 16px;
    background-color: #ebebeb;
    border-radius: 8px;
}

#reviews ul li article::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 30px;
    background: #ebebeb;
    transform: rotate(45deg);
}

.review,
.author {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    overflow-y: hidden;
}

.review {
    display: inline-block;
    quotes: none;
    font-style: italic;
    word-break: break-all;
}

.author {
    margin-top: 8px;
    max-height: 16px;
    color: #989898;
}

/* --- +++ --- */
@media all and (min-width: 0) and (max-width: 767px) {
    section#buy_it {
        padding: 15px;
    }
}

section#buy_it {
    text-align: center;
}

section#buy_it > ul {
    list-style-type: none;
    margin-top: 16px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1200px) {
    section#buy_it {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 992px) {
    section#buy_it  ul {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
    }
}

section#buy_it > ul > li:last-child {
    margin-right: 0;
}

@media all and (min-width: 0) and (max-width: 991px) {
    section#buy_it > ul > li {
        margin: 0 35px 32px;
    }
    
    section#buy_it > ul > li:last-child {
        margin: 0 35px 0;
    }
}

@media all and (min-width: 0) and (max-width: 767px) {
    section#buy_it > ul > li {
        margin: 0 0 16px;
    }
    
    section#buy_it > ul > li:last-child {
        margin: 0;
    }
}

.product {
    border-radius: 8px;
    background-color: #445162;
    color: white;
}

.product .title {
    margin: 0;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: white;
}

.product p.price {
    margin: 0 2px;
    background-color: white;
    padding: 16px 0;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
}

.product ol.props {
    margin: 16px;
    list-style-position: inside;
    text-align: left;
}

.product ol.props li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.btn-buy {
    display: inline-block;
    margin: 0 16px 16px;
    padding-top: 12px;
    width: calc(100% - 32px);
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 18px;
    background-color: white;
    color: #445162;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-buy:hover {
    background-color: #E3F2FD;
    color: #039BE5;
    box-shadow: 0 0 0 4px #039BE5;
}

/* --- +++ --- */
#contacts h2 {
    color: white;
}

#feedback {
    display: inline-block;
    float: left;
    margin-top: 30px;
    text-align: center;
}

#u_name,
#u_email,
#u_tel,
#u_msg {
    margin-bottom: 20px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: white;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.mail-attr {
    height: 40px;
}

#u_msg {
    height: 170px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

#u_msg::-webkit-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#u_msg::-moz-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#u_msg:-moz-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#u_msg:-ms-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#btn-send {
    width: 140px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 24px;
    background-color: white;
    color: #445162;
    text-transform: uppercase;
}

#btn-send:hover {
    background-color: #E3F2FD;
    color: #039BE5;
    box-shadow: 0 0 0 4px #039BE5;
}

address {
    font-style: normal;
}

#contact-list {
    display: inline-block;
    float: left;
    margin-top: 30px;
    margin-bottom: 0;
    list-style-type: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#contact-list li {
    vertical-align: middle;
}

#contact-list > li:not(:last-child) {
    margin-bottom: 16px;
}

#contact-list > li > i {
    margin-right: 10px;
}

@media all and (min-width: 0) and (max-width: 991px) {
    #contacts {
        padding: 16px 50px;
    }
    
    #contact-list {
        margin-top: 16px;
        margin-bottom: 34px;
    }
}

@media all and (min-width: 0) and (max-width: 767px) {
    #contacts {
        padding: 16px;
    }
    
    #feedback {
        margin-top: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #contact-list {
        margin-left: 16px;
        margin-top: 16px;
        margin-bottom: 0;
    }
}
 
#email a {
    color: white;
    text-decoration: none;
}

#email a:hover {
    color: #039BE5;
}

#social-links {
    /* margin-top: 6px; */
    list-style-type: none;
}

#social-links li {
    display: inline-block;
    /* margin-top: 16px; */
    margin-right: 6px;
    padding-top: 6px;
    background-color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
}
  
#social-links li a {
    color: #445162;
    text-decoration: none;
}

#social-links li:hover {
    background-color: #E3F2FD;
    box-shadow: 0 0 0 4px #039BE5;
}

#social-links li:hover a {
    color: #039BE5;
}

/* --- +++ --- */
#copyright p {
  margin-bottom: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}