.PSDFreebies_com {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 282;
}
.Header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 281;
}
.Logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 280;
}
.________________ {
  font-size: 72px;
  font-family: "FontAwesome";
  color: rgb(25, 25, 25);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  -webkit-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  -ms-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  position: absolute;
  left: 1073.494px;
  top: 108.8px;
  z-index: 277;
}
.Home_______About_______Services_______Gallery__ {
  font-size: 20px;
  font-family: "NexaBold";
  color: rgb(38, 38, 38);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 213.87px;
  top: 136.198px;
  z-index: 276;
}
.Call {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 275;
}
. {
  font-size: 123.401px;
  font-family: "FontAwesome";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  -webkit-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  -ms-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  position: absolute;
  left: 1227.958px;
  top: -16.041px;
  z-index: 274;
}
.CALL_US__123_4567_8900 {
  font-size: 15px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  font-weight: bold;
  line-height: 1.467;
  text-align: left;
  position: absolute;
  left: 1304.327px;
  top: 61.881px;
  z-index: 273;
}
.Ellipse_1_copy_10 {
  border-radius: 50%;
  background-color: rgb(26, 155, 220);
  position: absolute;
  left: 1235px;
  top: 34px;
  width: 51px;
  height: 51px;
  z-index: 272;
}
.Mail {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 270;
}
._copy {
  font-size: 72px;
  font-family: "FontAwesome";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  -webkit-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  -ms-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  position: absolute;
  left: 977.1px;
  top: 16.3px;
  z-index: 269;
}
.MAIL_US_free_psdfreebies_com {
  font-size: 15px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  font-weight: bold;
  line-height: 1.467;
  text-align: left;
  position: absolute;
  left: 1031.957px;
  top: 60.881px;
  z-index: 268;
}
.Ellipse_1_copy_9 {
  border-radius: 50%;
  background-color: rgb(26, 155, 220);
  position: absolute;
  left: 968px;
  top: 34px;
  width: 51px;
  height: 51px;
  z-index: 267;
}
.Work_Time {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 265;
}
. {
  font-size: 92.551px;
  font-family: "FontAwesome";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  -webkit-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  -ms-transform: matrix( 0.32414574785489,0,0,0.32414573435162,0,0);
  position: absolute;
  left: 627.593px;
  top: 3.969px;
  z-index: 264;
}
.WORK_TIME:_09:00___17:00_Saturday_and_Sunday___ {
  font-size: 15px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  font-weight: bold;
  line-height: 1.467;
  text-align: left;
  position: absolute;
  left: 693.937px;
  top: 59.881px;
  z-index: 263;
}
.Ellipse_1_copy_8 {
  border-radius: 50%;
  background-color: rgb(26, 155, 220);
  position: absolute;
  left: 624px;
  top: 34px;
  width: 51px;
  height: 51px;
  z-index: 262;
}
.Rectangle_12 {
  background-color: rgb(194, 194, 194);
  opacity: 0.31;
  position: absolute;
  left: 218px;
  top: 105px;
  width: 1190px;
  height: 2px;
  z-index: 260;
}
.Main_Banner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 258;
}
.Read_more_copy_8 {
  font-size: 12.677px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.43896871222249,0,0,1.45392610020684,0,0);
  -webkit-transform: matrix( 1.43896871222249,0,0,1.45392610020684,0,0);
  -ms-transform: matrix( 1.43896871222249,0,0,1.45392610020684,0,0);
  position: absolute;
  left: 469.535px;
  top: 624.394px;
  z-index: 256;
}
.Rounded_Rectangle_1_copy_12 {
  background-color: rgb(26, 155, 220);
  box-shadow: -3.508px 11.476px 40px 0px rgba(0, 1, 1, 0.2);
  position: absolute;
  left: 421px;
  top: 608px;
  width: 166px;
  height: 47px;
  z-index: 255;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 17px;
  font-family: "OpenSans";
  color: rgb(63, 63, 63);
  line-height: 1.765;
  text-align: center;
  position: absolute;
  left: 272.435px;
  top: 545.771px;
  width: 420px;
  height: 48px;
  z-index: 254;
}
.We_have_Best_Medicare_plan_options_for_you {
  font-size: 47.689px;
  font-family: "Montserrat";
  color: rgb(71, 71, 71);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 251.938px;
  top: 366.253px;
  z-index: 253;
}
.Layer_11 {
  background-image: url("Layer 11.png");
  opacity: 0.812;
  position: absolute;
  left: -32px;
  top: -23px;
  width: 1238px;
  height: 1200px;
  z-index: 252;
}
.Layer_10 {
  background-image: url("Layer 10.png");
  position: absolute;
  left: 3px;
  top: 197px;
  width: 1752px;
  height: 640px;
  z-index: 251;
}
.Services {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 249;
}
._01 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 248;
}
.Best_Treatment {
  font-size: 72.799px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: -10.875px;
  top: 979.321px;
  z-index: 246;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.875;
  text-align: center;
  position: absolute;
  left: 70.4px;
  top: 1091.546px;
  width: 264px;
  height: 77px;
  z-index: 245;
}
.Ellipse_1 {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 169px;
  top: 913px;
  width: 75px;
  height: 76px;
  z-index: 244;
}
._02 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 242;
}
.Emergency_Help {
  font-size: 72.799px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 366.054px;
  top: 975.063px;
  z-index: 240;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.875;
  text-align: center;
  position: absolute;
  left: 469.4px;
  top: 1091.546px;
  width: 264px;
  height: 77px;
  z-index: 239;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 568px;
  top: 911px;
  width: 75px;
  height: 76px;
  z-index: 238;
}
._04 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 236;
}
.Qualified_Doctors {
  font-size: 72.799px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 1142.372px;
  top: 978.584px;
  z-index: 234;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.875;
  text-align: center;
  position: absolute;
  left: 1257.4px;
  top: 1091.546px;
  width: 264px;
  height: 77px;
  z-index: 233;
}
.Ellipse_1_copy_5 {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1355px;
  top: 911px;
  width: 76px;
  height: 76px;
  z-index: 232;
}
._03 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 230;
}
.Medical_Staff {
  font-size: 72.799px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 812.799px;
  top: 977.821px;
  z-index: 228;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.875;
  text-align: center;
  position: absolute;
  left: 865.4px;
  top: 1091.546px;
  width: 264px;
  height: 77px;
  z-index: 227;
}
.Ellipse_1_copy_2 {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 963px;
  top: 913px;
  width: 75px;
  height: 76px;
  z-index: 226;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 224;
}
.Rectangle_8_copy_3 {
  background-color: rgb(55, 195, 168);
  position: absolute;
  left: 1200px;
  top: 837px;
  width: 400px;
  height: 360px;
  z-index: 223;
}
.Rectangle_8_copy_3 {
  background-color: rgb(60, 187, 187);
  position: absolute;
  left: 800px;
  top: 837px;
  width: 400px;
  height: 360px;
  z-index: 222;
}
.Rectangle_8_copy_2 {
  background-color: rgb(63, 182, 198);
  position: absolute;
  left: 400px;
  top: 837px;
  width: 400px;
  height: 360px;
  z-index: 221;
}
.Rectangle_8 {
  background-color: rgb(67, 177, 210);
  position: absolute;
  left: 0px;
  top: 837px;
  width: 400px;
  height: 360px;
  z-index: 220;
}
.Why_Choose_us {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 217;
}
.Why_Choose_Us___ {
  font-size: 109.198px;
  font-family: "Montserrat";
  color: rgb(73, 73, 73);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 415.549px;
  top: 1254.628px;
  z-index: 216;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: center;
  position: absolute;
  left: 353.52px;
  top: 1411.546px;
  width: 878px;
  height: 47px;
  z-index: 215;
}
._01 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 213;
}
.Professional {
  font-size: 72.799px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 224.741px;
  top: 1541.821px;
  z-index: 211;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 213.937px;
  top: 1669.546px;
  width: 363px;
  height: 74px;
  z-index: 210;
}
.Ellipse_1_copy_4 {
  border-radius: 50%;
  background-color: rgb(26, 155, 220);
  position: absolute;
  left: 215px;
  top: 1546px;
  width: 75px;
  height: 76px;
  z-index: 209;
}
._02 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 207;
}
.Professional {
  font-size: 72.799px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 1053.741px;
  top: 1527.821px;
  z-index: 205;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 1042.937px;
  top: 1659.546px;
  width: 363px;
  height: 74px;
  z-index: 204;
}
.Ellipse_1_copy_6 {
  border-radius: 50%;
  background-color: rgb(26, 155, 220);
  position: absolute;
  left: 1038px;
  top: 1536px;
  width: 75px;
  height: 76px;
  z-index: 203;
}
._03 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 201;
}
.Professional {
  font-size: 72.799px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 233.741px;
  top: 1803.821px;
  z-index: 200;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 213.937px;
  top: 1935.546px;
  width: 363px;
  height: 74px;
  z-index: 199;
}
.Ellipse_1_copy_7 {
  border-radius: 50%;
  background-color: rgb(26, 155, 220);
  position: absolute;
  left: 215px;
  top: 1812px;
  width: 75px;
  height: 76px;
  z-index: 197;
}
._04 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 195;
}
.Professional {
  font-size: 72.799px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 1055.741px;
  top: 1803.821px;
  z-index: 193;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 1044.937px;
  top: 1935.546px;
  width: 363px;
  height: 74px;
  z-index: 192;
}
.Ellipse_1_copy_7 {
  border-radius: 50%;
  background-color: rgb(26, 155, 220);
  position: absolute;
  left: 1040px;
  top: 1812px;
  width: 75px;
  height: 76px;
  z-index: 191;
}
.Best_Feature {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 188;
}
._01 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 187;
}
.Rectangle_11 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 287px;
  top: 2402px;
  width: 84px;
  height: 6px;
  z-index: 186;
}
._1000_ {
  font-size: 47.689px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  -webkit-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  -ms-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  position: absolute;
  left: 266.216px;
  top: 2325.887px;
  z-index: 185;
}
._Happy_Customers {
  font-size: 60.666px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 199.69px;
  top: 2387.257px;
  z-index: 184;
}
._02 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 181;
}
.Top_Hospitality {
  font-size: 60.666px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 511.105px;
  top: 2383.292px;
  z-index: 180;
}
._2017 {
  font-size: 47.689px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  -webkit-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  -ms-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  position: absolute;
  left: 594.555px;
  top: 2325.387px;
  z-index: 179;
}
.Rectangle_11_copy {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 599px;
  top: 2402px;
  width: 85px;
  height: 6px;
  z-index: 178;
}
._03 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 175;
}
._Innovative_Approach {
  font-size: 60.666px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 820.048px;
  top: 2382.807px;
  z-index: 174;
}
._1105 {
  font-size: 47.689px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  -webkit-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  -ms-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  position: absolute;
  left: 911.24px;
  top: 2325.887px;
  z-index: 173;
}
.Rectangle_11_copy_2 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 917px;
  top: 2402px;
  width: 84px;
  height: 6px;
  z-index: 172;
}
._04 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 169;
}
.Lung_Replacement_ {
  font-size: 60.666px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 1121.277px;
  top: 2383.257px;
  z-index: 168;
}
._500_ {
  font-size: 47.689px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  -webkit-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  -ms-transform: matrix( 1.25815300068561,0,0,1.2581530006856,0,0);
  position: absolute;
  left: 1238.215px;
  top: 2325.887px;
  z-index: 167;
}
.Rectangle_11_copy_3 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1240px;
  top: 2402px;
  width: 84px;
  height: 6px;
  z-index: 166;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 163;
}
.Layer_9 {
  background-image: url("Layer 9.png");
  opacity: 0.459;
  position: absolute;
  left: -212px;
  top: 2034px;
  width: 1836px;
  height: 643px;
  z-index: 162;
}
.Rectangle_7 {
  background-color: rgb(0, 135, 190);
  position: absolute;
  left: -6px;
  top: 2053px;
  width: 1618px;
  height: 592px;
  z-index: 161;
}
.Text_Area {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 158;
}
.About_Treatment_ {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 157;
}
.Copy {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 156;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 984.162px;
  top: 2845.546px;
  width: 407px;
  height: 77px;
  z-index: 155;
}
.Our_creative {
  font-size: 109.198px;
  font-family: "Montserrat";
  color: rgb(73, 73, 73);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 851.923px;
  top: 2694.981px;
  z-index: 154;
}
.Bars {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 152;
}
.________________ {
  font-size: 80.049px;
  font-family: "FontAwesome";
  color: rgb(0, 135, 190);
  line-height: 1.091;
  text-align: left;
  -moz-transform: matrix( 0.27483278789079,0,0,0.2748327764418,0,0);
  -webkit-transform: matrix( 0.27483278789079,0,0,0.2748327764418,0,0);
  -ms-transform: matrix( 0.27483278789079,0,0,0.2748327764418,0,0);
  position: absolute;
  left: 988.999px;
  top: 2552.613px;
  z-index: 151;
}
.Ellipse_2_copy_3 {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 989px;
  top: 3304px;
  width: 40px;
  height: 40px;
  z-index: 150;
}
.Heart_Treatment {
  font-size: 48.532px;
  font-family: "Montserrat";
  color: rgb(73, 73, 73);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 965.355px;
  top: 3296.381px;
  z-index: 149;
}
.Rounded_Rectangle_1_copy_17 {
  background-color: rgb(226, 226, 226);
  position: absolute;
  left: 983px;
  top: 3297px;
  width: 422px;
  height: 54px;
  z-index: 148;
}
.Ellipse_2_copy_2 {
  border-radius: 50%;
  background-color: rgb(249, 252, 253);
  position: absolute;
  left: 989px;
  top: 3237px;
  width: 40px;
  height: 40px;
  z-index: 147;
}
.Heart_Treatment {
  font-size: 48.532px;
  font-family: "Montserrat";
  color: rgb(73, 73, 73);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 965.355px;
  top: 3229.381px;
  z-index: 146;
}
.Rounded_Rectangle_1_copy_16 {
  background-color: rgb(226, 226, 226);
  position: absolute;
  left: 983px;
  top: 3230px;
  width: 422px;
  height: 54px;
  z-index: 145;
}
.Ellipse_2_copy {
  border-radius: 50%;
  background-color: rgb(249, 252, 253);
  position: absolute;
  left: 989px;
  top: 3171px;
  width: 40px;
  height: 40px;
  z-index: 144;
}
.Heart_Treatment {
  font-size: 48.532px;
  font-family: "Montserrat";
  color: rgb(73, 73, 73);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 965.355px;
  top: 3163.381px;
  z-index: 143;
}
.Rounded_Rectangle_1_copy_15 {
  background-color: rgb(226, 226, 226);
  position: absolute;
  left: 983px;
  top: 3164px;
  width: 422px;
  height: 54px;
  z-index: 142;
}
.Ellipse_2 {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 989px;
  top: 2951px;
  width: 40px;
  height: 40px;
  z-index: 141;
}
.Heart_Treatment {
  font-size: 48.532px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 965.355px;
  top: 2943.381px;
  z-index: 140;
}
.Rounded_Rectangle_1_copy_14 {
  background-color: rgb(0, 135, 190);
  position: absolute;
  left: 983px;
  top: 2944px;
  width: 422px;
  height: 54px;
  z-index: 139;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 985.162px;
  top: 3045.546px;
  width: 407px;
  height: 107px;
  z-index: 138;
}
._01 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 135;
}
.Layer_18 {
  background-image: url("Layer 18.png");
  position: absolute;
  left: 194px;
  top: 2940px;
  width: 383px;
  height: 225px;
  z-index: 134;
}
.Rectangle_10 {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 216px;
  top: 2945px;
  width: 335px;
  height: 210px;
  z-index: 133;
}
.April_19__2017_______Dr__Jon_Doe {
  font-size: 15px;
  font-family: "Montserrat";
  color: rgb(0, 135, 190);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 214.937px;
  top: 3219.883px;
  z-index: 132;
}
.Lorem_ipsum_dolor_sit_amet__ {
  font-size: 48.532px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 79.155px;
  top: 3167.025px;
  z-index: 131;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 214.162px;
  top: 3293.546px;
  width: 321px;
  height: 77px;
  z-index: 130;
}
._02 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 128;
}
.Layer_17 {
  background-image: url("Layer 17.png");
  position: absolute;
  left: 582px;
  top: 2937px;
  width: 348px;
  height: 232px;
  z-index: 127;
}
.Rectangle_10_copy {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 591px;
  top: 2945px;
  width: 335px;
  height: 210px;
  z-index: 126;
}
.April_19__2017_______Dr__Jon_Doe_copy {
  font-size: 15px;
  font-family: "Montserrat";
  color: rgb(0, 135, 190);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 591.937px;
  top: 3219.883px;
  z-index: 125;
}
.Lorem_ipsum_dolor_sit_amet__ {
  font-size: 48.532px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 461.155px;
  top: 3168.025px;
  z-index: 124;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 591.162px;
  top: 3293.546px;
  width: 321px;
  height: 77px;
  z-index: 123;
}
.Read_more_copy_9 {
  font-size: 12.677px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.334946877604,0,0,1.33018770869988,0,0);
  -webkit-transform: matrix( 1.334946877604,0,0,1.33018770869988,0,0);
  -ms-transform: matrix( 1.334946877604,0,0,1.33018770869988,0,0);
  position: absolute;
  left: 515.535px;
  top: 3409.394px;
  z-index: 121;
}
.Rounded_Rectangle_1_copy_13 {
  background-color: rgb(0, 135, 190);
  box-shadow: -3.508px 11.476px 40px 0px rgba(0, 1, 1, 0.2);
  position: absolute;
  left: 473px;
  top: 3395px;
  width: 154px;
  height: 43px;
  z-index: 120;
}
.How_we_works {
  font-size: 109.198px;
  font-family: "Montserrat";
  color: rgb(73, 73, 73);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 46.691px;
  top: 2695.981px;
  z-index: 119;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 213.162px;
  top: 2845.546px;
  width: 714px;
  height: 74px;
  z-index: 118;
}
.Gallery {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 116;
}
.Gallery {
  font-size: 109.198px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 638.635px;
  top: 3578.628px;
  z-index: 115;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.875;
  text-align: center;
  position: absolute;
  left: 255.902px;
  top: 3742.546px;
  width: 1116px;
  height: 47px;
  z-index: 114;
}
._01 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 113;
}
.Layer_12 {
  background-image: url("Layer 12.png");
  position: absolute;
  left: 247px;
  top: 3798px;
  width: 360px;
  height: 234px;
  z-index: 112;
}
.Rectangle_13 {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 259px;
  top: 3815px;
  width: 344px;
  height: 209px;
  z-index: 111;
}
._02 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 109;
}
.Layer_13 {
  background-image: url("Layer 13.png");
  position: absolute;
  left: 634px;
  top: 3815px;
  width: 350px;
  height: 234px;
  z-index: 108;
}
.Rectangle_13_copy {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 637px;
  top: 3815px;
  width: 344px;
  height: 209px;
  z-index: 107;
}
._03 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 105;
}
.Layer_14 {
  background-image: url("Layer 14.png");
  position: absolute;
  left: 1008px;
  top: 3807px;
  width: 357px;
  height: 238px;
  z-index: 104;
}
.Rectangle_13_copy_2 {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 1017px;
  top: 3815px;
  width: 344px;
  height: 209px;
  z-index: 103;
}
._04 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 101;
}
.Layer_15 {
  background-image: url("Layer 15.png");
  position: absolute;
  left: 256px;
  top: 4062px;
  width: 357px;
  height: 259px;
  z-index: 100;
}
.Rectangle_13_copy_3 {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 259px;
  top: 4061px;
  width: 344px;
  height: 209px;
  z-index: 99;
}
._05 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 97;
}
.Layer_16 {
  background-image: url("Layer 16.png");
  position: absolute;
  left: 636px;
  top: 4050px;
  width: 350px;
  height: 234px;
  z-index: 96;
}
.Rectangle_13_copy_3 {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 637px;
  top: 4061px;
  width: 344px;
  height: 209px;
  z-index: 95;
}
._06 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 93;
}
.Layer_19 {
  background-image: url("Layer 19.png");
  position: absolute;
  left: 985px;
  top: 4055px;
  width: 385px;
  height: 226px;
  z-index: 92;
}
.Rectangle_13_copy_3 {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 1017px;
  top: 4061px;
  width: 344px;
  height: 209px;
  z-index: 91;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 89;
}
.Layer_3 {
  background-image: url("Layer 3.png");
  opacity: 0.212;
  position: absolute;
  left: -215px;
  top: 3492px;
  width: 1920px;
  height: 1280px;
  z-index: 88;
}
.Rectangle_7_copy {
  background-color: rgb(56, 182, 158);
  position: absolute;
  left: -6px;
  top: 3538px;
  width: 1618px;
  height: 826px;
  z-index: 87;
}
.Our_Doctor {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 84;
}
.Our_Team {
  font-size: 109.198px;
  font-family: "Montserrat";
  color: rgb(73, 73, 73);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 584.016px;
  top: 4462.981px;
  z-index: 83;
}
.Sed_ut_perspiciatis_unde_omnis_iste_natus_error {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(106, 106, 106);
  line-height: 1.875;
  text-align: center;
  position: absolute;
  left: 233.665px;
  top: 4622.546px;
  width: 1095px;
  height: 47px;
  z-index: 82;
}
._01 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 81;
}
.Assistant_Surgeon {
  font-size: 43.679px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 196.853px;
  top: 5051.585px;
  z-index: 80;
}
.Dr_Ricky_Doe {
  font-size: 60.666px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 188.83px;
  top: 5004.208px;
  z-index: 79;
}
.Layer_7 {
  background-image: url("Layer 7.png");
  position: absolute;
  left: 200px;
  top: 4706px;
  width: 314px;
  height: 317px;
  z-index: 78;
}
.Ellipse_3 {
  border-radius: 50%;
  background-color: rgb(227, 227, 227);
  position: absolute;
  left: 212px;
  top: 4725px;
  width: 279px;
  height: 279px;
  z-index: 77;
}
._____ {
  font-size: 72px;
  font-family: "FontAwesome";
  color: rgb(0, 135, 190);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  -webkit-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  -ms-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  position: absolute;
  left: 257.142px;
  top: 5091.8px;
  z-index: 76;
}
._02 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 74;
}
.Assistant_Surgeon {
  font-size: 43.679px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 508.853px;
  top: 5054.585px;
  z-index: 73;
}
.Dr_Ricky_Doe {
  font-size: 60.666px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 500.83px;
  top: 5007.208px;
  z-index: 72;
}
.Layer_4 {
  background-image: url("Layer 4.png");
  position: absolute;
  left: 520px;
  top: 4706px;
  width: 295px;
  height: 297px;
  z-index: 71;
}
.Ellipse_3_copy {
  border-radius: 50%;
  background-color: rgb(227, 227, 227);
  position: absolute;
  left: 520px;
  top: 4725px;
  width: 279px;
  height: 279px;
  z-index: 70;
}
.______copy {
  font-size: 72px;
  font-family: "FontAwesome";
  color: rgb(0, 135, 190);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  -webkit-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  -ms-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  position: absolute;
  left: 574.142px;
  top: 5091.8px;
  z-index: 69;
}
._03 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 67;
}
.Assistant_Surgeon {
  font-size: 43.679px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 819.853px;
  top: 5057.585px;
  z-index: 66;
}
.Dr_Ricky_Doe {
  font-size: 60.666px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 811.829px;
  top: 5010.208px;
  z-index: 65;
}
.Layer_6 {
  background-image: url("Layer 6.png");
  position: absolute;
  left: 812px;
  top: 4717px;
  width: 296px;
  height: 300px;
  z-index: 64;
}
.Ellipse_3_copy_2 {
  border-radius: 50%;
  background-color: rgb(227, 227, 227);
  position: absolute;
  left: 827px;
  top: 4725px;
  width: 279px;
  height: 279px;
  z-index: 63;
}
.______copy_2 {
  font-size: 72px;
  font-family: "FontAwesome";
  color: rgb(0, 135, 190);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  -webkit-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  -ms-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  position: absolute;
  left: 875.142px;
  top: 5091.8px;
  z-index: 62;
}
._04 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 60;
}
.Assistant_Surgeon {
  font-size: 43.679px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 1121.853px;
  top: 5057.585px;
  z-index: 59;
}
.Dr_Ricky_Doe {
  font-size: 60.666px;
  font-family: "Montserrat";
  color: rgb(111, 111, 110);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: 1112.829px;
  top: 5010.208px;
  z-index: 58;
}
.Layer_5 {
  background-image: url("Layer 5.png");
  position: absolute;
  left: 1127px;
  top: 4710px;
  width: 296px;
  height: 298px;
  z-index: 57;
}
.Ellipse_3_copy_2 {
  border-radius: 50%;
  background-color: rgb(227, 227, 227);
  position: absolute;
  left: 1135px;
  top: 4725px;
  width: 279px;
  height: 279px;
  z-index: 56;
}
.______copy_3 {
  font-size: 72px;
  font-family: "FontAwesome";
  color: rgb(0, 135, 190);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  -webkit-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  -ms-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  position: absolute;
  left: 1177.142px;
  top: 5091.8px;
  z-index: 55;
}
.Quick_action_bar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 52;
}
.Read_more_copy_10 {
  font-size: 12.677px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.66434935389589,0,0,1.67046828534403,0,0);
  -webkit-transform: matrix( 1.66434935389589,0,0,1.67046828534403,0,0);
  -ms-transform: matrix( 1.66434935389589,0,0,1.67046828534403,0,0);
  position: absolute;
  left: 1249.035px;
  top: 5368.894px;
  z-index: 51;
}
.Rounded_Rectangle_1_copy_18 {
  background-color: rgb(0, 135, 190);
  box-shadow: -3.508px 11.476px 40px 0px rgba(0, 1, 1, 0.2);
  position: absolute;
  left: 1188px;
  top: 5349px;
  width: 192px;
  height: 54px;
  z-index: 50;
}
.New_Patient_Special_Offer_Complimentary_Consult {
  font-size: 72.799px;
  font-family: "Montserrat";
  color: rgb(73, 73, 73);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -webkit-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  -ms-transform: matrix( 0.41209574560932,0,0,0.41209574560932,0,0);
  position: absolute;
  left: -141.192px;
  top: 5326.594px;
  z-index: 49;
}
.Rectangle_7_copy_2 {
  background-color: rgb(226, 226, 226);
  position: absolute;
  left: -6px;
  top: 5281px;
  width: 1618px;
  height: 176px;
  z-index: 48;
}
.Footer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 46;
}
.Enquiry_Form {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 45;
}
.Submit {
  font-size: 12.677px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.08356077727597,0,0,1.08271092568595,0,0);
  -webkit-transform: matrix( 1.08356077727597,0,0,1.08271092568595,0,0);
  -ms-transform: matrix( 1.08356077727597,0,0,1.08271092568595,0,0);
  position: absolute;
  left: 1217.218px;
  top: 5893.894px;
  z-index: 44;
}
.Rounded_Rectangle_1_copy_19 {
  background-color: rgb(0, 135, 190);
  box-shadow: -3.508px 11.476px 40px 0px rgba(0, 1, 1, 0.2);
  position: absolute;
  left: 1177px;
  top: 5884px;
  width: 125px;
  height: 35px;
  z-index: 43;
}
.Rectangle_12_copy_3 {
  background-color: rgb(194, 194, 194);
  opacity: 0.42;
  position: absolute;
  left: 1177px;
  top: 5859px;
  width: 231px;
  height: 1px;
  z-index: 42;
}
.Rectangle_12_copy_2 {
  background-color: rgb(194, 194, 194);
  opacity: 0.42;
  position: absolute;
  left: 1177px;
  top: 5738px;
  width: 231px;
  height: 1px;
  z-index: 41;
}
.Rectangle_12_copy {
  background-color: rgb(194, 194, 194);
  opacity: 0.42;
  position: absolute;
  left: 1177px;
  top: 5682px;
  width: 231px;
  height: 1px;
  z-index: 40;
}
.Name___Phone___Message {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.51);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 1174.937px;
  top: 5645.946px;
  z-index: 39;
}
.Enquiry_Form {
  font-size: 22px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.091;
  text-align: left;
  position: absolute;
  left: 1171.938px;
  top: 5583.323px;
  z-index: 38;
}
.Get_in_Touch {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 36;
}
.Get_in_Touch {
  font-size: 22px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.091;
  text-align: left;
  position: absolute;
  left: 215.938px;
  top: 5563.999px;
  z-index: 35;
}
.Email {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 34;
}
.free_psdfreebies_com_free_psdfreebies_com {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.51);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 300.026px;
  top: 5673.546px;
  z-index: 32;
}
.Phone {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 30;
}
._123_456_7890__123_456_7890 {
  font-size: 17px;
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.51);
  line-height: 1.412;
  text-align: left;
  position: absolute;
  left: 294.779px;
  top: 5764.207px;
  z-index: 28;
}
.Address {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 26;
}
._123__Main_Road__New_City__My_Country_123456 {
  font-size: 17px;
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.51);
  line-height: 1.412;
  text-align: left;
  position: absolute;
  left: 301.847px;
  top: 5869.771px;
  width: 213px;
  height: 42px;
  z-index: 24;
}
._________________ {
  font-size: 72px;
  font-family: "FontAwesome";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  -webkit-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  -ms-transform: matrix( 0.35045500814734,0,0,0.35045499354808,0,0);
  position: absolute;
  left: 102.962px;
  top: 5919.8px;
  z-index: 22;
}
.Quick_Links {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 20;
}
.Quick_Links {
  font-size: 22px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.091;
  text-align: left;
  position: absolute;
  left: 576.938px;
  top: 5585.523px;
  z-index: 19;
}
.About_us__Blog__Contact_us__Faq__Insurance__Con {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.51);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 621.937px;
  top: 5649.946px;
  z-index: 18;
}
.__________ {
  font-size: 72px;
  font-family: "FontAwesome";
  color: rgb(0, 135, 190);
  line-height: 0.962;
  text-align: left;
  -moz-transform: matrix( 0.27483278789079,0,0,0.2748327764418,0,0);
  -webkit-transform: matrix( 0.27483278789079,0,0,0.2748327764418,0,0);
  -ms-transform: matrix( 0.27483278789079,0,0,0.2748327764418,0,0);
  position: absolute;
  left: 579.1px;
  top: 5443.89px;
  z-index: 17;
}
.Our_Services {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 15;
}
.Work_Injuries__Sport_Injuries__Cold_Laser_Thera {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.51);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 886.937px;
  top: 5651.946px;
  z-index: 14;
}
.___________copy {
  font-size: 72px;
  font-family: "FontAwesome";
  color: rgb(0, 135, 190);
  line-height: 0.962;
  text-align: left;
  -moz-transform: matrix( 0.27483278789079,0,0,0.2748327764418,0,0);
  -webkit-transform: matrix( 0.27483278789079,0,0,0.2748327764418,0,0);
  -ms-transform: matrix( 0.27483278789079,0,0,0.2748327764418,0,0);
  position: absolute;
  left: 840.1px;
  top: 5443.89px;
  z-index: 13;
}
.Our_Services {
  font-size: 22px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.091;
  text-align: left;
  position: absolute;
  left: 854.938px;
  top: 5563.999px;
  z-index: 12;
}
.Copyright_©_2017__PSDFreebies_com____Best_PSD_T {
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(97, 85, 85);
  line-height: 1.846;
  text-align: center;
  position: absolute;
  left: 526.938px;
  top: 6156.622px;
  z-index: 10;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 9;
}
.Rectangle_14 {
  background-color: rgb(26, 26, 26);
  position: absolute;
  left: 0px;
  top: 6084px;
  width: 1622px;
  height: 130px;
  z-index: 8;
}
.Rectangle_2_copy_2 {
  background-color: rgb(23, 23, 23);
  position: absolute;
  left: -9px;
  top: 5449px;
  width: 1640px;
  height: 751px;
  z-index: 7;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6200px;
  z-index: 4;
}
.BG {
  background-image: url("BG.png");
  position: absolute;
  left: -120px;
  top: -54px;
  width: 1840px;
  height: 6322px;
  z-index: 3;
}
